doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='description', content='Tagore Public School Naraina Vihar website, tpsnarainavihar')
    meta(name='title', content='Tagore Public School Naraina Vihar')
    title Tagore Public School, Naraina Vihar
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/table.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    .example5
        nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar5')
                  span.sr-only Toggle navigation
                  |           
                  span.icon-bar
                  |           
                  span.icon-bar
                  |           
                  span.icon-bar
                |         
                a.navbar-brand(href='/')
                  img#logoImage(src='/images/logo/logo1.jpg', alt='Dispute Bills')
                  p#brandText
                    span
                      | Tagore Public School
                    span.span2
                      | Recognized and Affiliated to CBSE
                    span.span3
                      | D Block, Naraina Vihar , New Delhi - 110028     
          
  
              #navbar5.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/') HOME
                  li.active
                    a(href='/about') ABOUT
                  li
                    a(href='/preSchool') PRESCHOOL
                  li
                    a(href='/academic') ACADEMIC
                  li
                    a(href='/gallery1') GALLERY                  
                  li
                    a(href='/infrastructure') INFRASTRUCTURE                    
                  li
                    a(href='/notifications1') NOTIFICATIONS/ ADMISSIONS                    
                  li
                    a(href='/contact1') CONTACT                 

              // /.nav-collapse
            // /.container-fluid


        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 ABOUT SCHOOL
        // /row
      // /container
    // /blue
    //
      *****************************************************************************************************************
      AGENCY ABOUT
      *****************************************************************************************************************
    .container.mtb
      .row
        .col-lg-6
          img.img-responsive(src='/images/sliderPics/4.jpg', alt='')
        .col-lg-6
          //- h4 More About Our Agency.
          p(style="text-align:justify;")
            | The foundation of Tagore Public School was laid in 1981. Since then the school has made tremendous progress. Today it stands complete in itself. It has been recognized by the Directorate of Education, Delhi Administration, upto senior secondary level. The school is affiliated to Central Board of Secondary Education (Affiliation No. 2730225) since 1993.
          b
            | "ENLIGHTEN THROUGH KNOWLEDGE" is the motto of the school
          p(style="text-align:justify;")
            | All round development of the child's personality is the main aim of this institution. Individual attention is given, special emphasis and efforts are made to make the child foster habits of responsibility and self discipline and promote initiative to imbibe human values, secular and modern outlook and a sense of belonging to the whole world.
          p(style="text-align:justify;")
            | The school has highly qualified faculty for secondary and senior secondary departments in academic as well as for co-curricular activities for the all round development of students. It has spacious class rooms, Computer Laboratory with latest Computers, large auditorium for Work-shops and various activities, sophisticated toy room and a swimming pool. The School has an updated full-fledged library with books ranging from encyclopedia, fiction, autobiographies etc. 
          p(style="text-align:justify;")
            | For education to be meaningful and rewarding, it is essential that the students, school and parents work in unison. Parental cooperation is hence imperative.

          p
            br
            a.btn.btn-theme(href='/contact1') Contact Us
    //
      *****************************************************************************************************************
      TEEAM MEMBERS
      *****************************************************************************************************************
    //- .container.mtb
    //-   .row.centered
    //-     h3.mb MEET OUR TEAM
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team01.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Mark Webber
    //-       h5.ctitle CEO
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team02.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Paul Jameson
    //-       h5.ctitle LEAD DESIGNER
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team03.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Laura Sommers
    //-       h5.ctitle LEAD DEVELOPER
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team04.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Martin Blunt
    //-       h5.ctitle MARKETING
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    
    .container.mtb
      .row.centered
        h3.mb Members of School Managing Committee
        .spacing
        .theTable
          table.bordered
            thead
              tr
                th S.No.
                th Name
                th Designation
            tr
              td 1
              td Mrs. S. Bhatia
              td President
            tr
              td 2
              td Lt. Col S.P Kapoor
              td Vice President
            tr
              td 3
              td Mrs. Ritu Bhatia
              td Principal
            tr
              td 4
              td Mr. Vikas Bhatia
              td Manager/Secretary
            tr
              td 5
              td Mr. Alok
              td P.T.A
            tr
              td 6
              td Mr. Manmohan Nagpal
              td Member       
            tr
              td 7
              td Mr. N.P Verma
              td Member
            tr
              td 8
              td Mr. A.Sahgal
              td Member
            tr
              td 9
              td Mr. Parkash Keswani
              td Member
            tr
              td 10
              td Mr. Sandeep Kohli
              td Member
            tr
              td 11
              td Ms. Alisha Bhatia
              td Member
            tr
              td 12
              td Mr. Ramesh Anand
              td Member            
            tr
              td 13
              td Mr. O.D. Sharma
              td Member
            tr
              td 14
              td Mrs. Uma
              td Member
            tr
              td 15
              td Mr.Ashvin 
              td Member
            tr
              td 16
              td Mrs. Sonia Kapoor
              td Member              
            tr
              td 17
              td Principal SBV, Naraina
              td Govt. Nominee
            tr
              td 18
              td Principal SKV, Naraina
              td Govt. Nominee              
                                
          br
          br    
    
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-8
            div(style='width:600px;max-width:100%;overflow:hidden;height:200px;color:red;')
              iframe(width='600', height='200', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBlpirNe7lbAp4m0mgP87U2NdpfwaZoRN0\
              &q=Tagore+Public+School+Naraina+Vihar', allowfullscreen='')
              style.
                #my-map-display img{max-width:none!important;background:none!important;}            
          .col-lg-4
            h4 Address And Contact Details
            .hline-w
            p
              | Tagore Public School , Naraina Vihar
              br            
              | D Block
              br
              | Naraina Vihar
              br
              | New Delhi - 110028
              br
              | Email : 
              a(href='mailto:helpdesk@tpsnarainavihar.com') helpdesk@tpsnarainavihar.com
              br
              |                       Phone : 
              a(href='tel:25892157') 25892157 ,
              a(href='tel:25894234') 25894234  
              br   
              | Follow us on Facebook :                       
              a(href='https://www.facebook.com/tpsnarainavihar/')
                i.fa.fa-facebook               
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
    
    script.
      // Portfolio
      (function($) {
      "use strict";
    
            
      var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
          // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';
          // At least Safari 3+: "[object HTMLElementConstructor]"
      var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
          // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;
          // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;
          // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;
          // Blink engine detection
      var isBlink = (isChrome || isOpera) && !!window.CSS;  
      
      if( isIE == true ){
        $('#logoImage').hide();
      }

      })(jQuery);    
