doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Tagore Public School Naraina Vihar')
    meta(name='title', content='Tagore Public School Naraina Vihar')
    title Tagore Public School
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/table.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Tagore Public School
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li
              a(href='/') HOME
            li.active
              a(href='/about') ABOUT
            li
              a(href='/contact1') CONTACT
            //- li
            //-   a(href='/blog1') BLOG
            li
              a(href='/notifications1') NOTIFICATIONS
            li
              a(href='/admissions1') ADMISSIONS

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 About School
        // /row
      // /container
    // /blue
    //
      *****************************************************************************************************************
      AGENCY ABOUT
      *****************************************************************************************************************
    .container.mtb
      .row
        .col-lg-6
          img.img-responsive(src='/images/agency.jpg', alt='')
        .col-lg-6
          //- h4 More About Our Agency.
          p
            | The foundation of Tagore Public School was laid in 1981. Since then the school has made tremendous progress. Today it stands complete in itself. It has been recognized by the Directorate of Education, Delhi Administration, upto senior secondary level. The school is affiliated to Central Board of Secondary Education (Affiliation No. 2730225) since 1993.
          b
            | "ENLIGHTEN THROUGH KNOWLEDGE" is the motto of the school
          p
            | All round development of the child's personality is the main aim of this institution. Individual attention is given, special emphasis and efforts are made to make the child foster habits of responsibility and self discipline and promote initiative to imbibe human values, secular and modern outlook and a sense of belonging to the whole world.
          p
            | The school has highly qualified faculty for secondary and senior secondary departments in academic as well as for co-curricular activities for the all around development of students. It has spacious class rooms, Computer Laboratory with latest Computers, large auditorium for Work-shops and various activities, sophisticated toy room and a swimming pool. The School has an updated full-fledged library with books ranging from encyclopedia, fiction, autobiographies etc. 
          p
            | For education to be meaningful and rewarding, it is essential that the students, school and parents work in unison. Parental cooperation is hence imperative.

          p
            br
            a.btn.btn-theme(href='/contact1') Contact Us
    //
      *****************************************************************************************************************
      TEEAM MEMBERS
      *****************************************************************************************************************
    //- .container.mtb
    //-   .row.centered
    //-     h3.mb MEET OUR TEAM
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team01.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Mark Webber
    //-       h5.ctitle CEO
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team02.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Paul Jameson
    //-       h5.ctitle LEAD DESIGNER
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team03.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Laura Sommers
    //-       h5.ctitle LEAD DEVELOPER
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    //-     .col-lg-3.col-md-3.col-sm-3
    //-       .he-wrap.tpl6
    //-         img(src='/images/team/team04.jpg', alt='')
    //-         .he-view
    //-           .bg.a0(data-animate='fadeIn')
    //-             h3.a1(data-animate='fadeInDown') Contact Me:
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-envelope
    //-             a.dmbutton.a2(href='#', data-animate='fadeInUp')
    //-               i.fa.fa-twitter
    //-           // he bg
    //-         // he view
    //-       // he wrap
    //-       h4 Martin Blunt
    //-       h5.ctitle MARKETING
    //-       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    //-       .hline
    
    .container.mtb
      .row.centered
        h3.mb Members of School Managing Committee
        .spacing
        .theTable
          table.bordered
            thead
              tr
                th S.No.
                th Name
                th Designation
            tr
              td 1
              td Mrs. Ritu Bhatia
              td Principal
            tr
              td 2
              td Vikas Bhatia
              td Admin
            tr
              td 3
              td Ashvin Bhatia
              td Operational Manager
            tr
              td 4
              td The Good, the Bad and the Ugly
              td 1966
            tr
              td 5
              td Pulp Fiction
              td 1994
            tr
              td 6
              td 12 Angry Men
              td 1957
            tr
              td 7
              td Schindler's List
              td 1993
            tr
              td 8
              td One Flew Over the Cuckoo's Nest
              td 1975
            tr
              td 9
              td The Dark Knight
              td 2008
            tr
              td 10
              td The Lord of the Rings: The Return of the King
              td 2003
          br
          br    
    
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-8
            div(style='width:600px;max-width:100%;overflow:hidden;height:200px;color:red;')
              #my-map-display(style='height:100%; width:100%;max-width:100%;')
                iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed/v1/place?q=Tagore+Public+School,+Naraina,+New+Delhi,+Delhi,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU')
              style.
                #my-map-display img{max-width:none!important;background:none!important;}            
          .col-lg-4
            h4 Address And Contact Details
            .hline-w
            p
              | Tagore Public School , Naraina Vihar
              br            
              | D Block
              br
              | Naraina Vihar
              br
              | New Delhi - 110028
              br
              | Email : 
              a(href='mailto:ashvinbhatia@tpsnarainavihar.com') ashvinbhatia@tpsnarainavihar.com
              br
              |                       Phone : 
              a(href='tel:25892157') 25892157 ,
              a(href='tel:25894234') 25894234  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
