extends ../layouts/default

include ../mixins/admission

block content
  if !admission
    .jumbotron.text-center
      h2 Invalid admission...
      p.lead Please check the url and try again
  else
    .row
      .col-md-8.col-md-offset-2
        p: a(href='/admissions').text-muted &larr; back to the admissions news
        hr
        article
          header
            h1= admission.name
            div
              p.text-muted.text-small Posted 
                if admission.publishedDate
                  | on 
                  time(datetime=admission.publishedDate)=admission._.publishedDate.format('MMMM Do, YYYY')
                if admission.author
                  | by #{admission.author.name}
            hr
            != admission.content.full
