include ../mixins/admission1

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Tagore Public School
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Tagore Public School
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li
              a(href='/') HOME
            li
              a(href='/about') ABOUT
            li
              a(href='/contact1') CONTACT
            //- li
            //-   a(href='/blog1') BLOG
            li
              a(href='/notifications1') NOTIFICATIONS
            li.active
              a(href='/admissions1') ADMISSIONS

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 Admission Notice.

    block content
      if !admission
        .jumbotron.text-center
          h2 Invalid admission...
          p.lead Please check the url and try again
      else
        .row
          .col-md-8.col-md-offset-2
            p: a(href='/admissions1').text-muted &larr; back to the admissions news
            hr
            article
              header
                h1= admission.name
                if admission.pdf.exists
                  p: a(href= admission.pdf.url) #{admission.pdfName}
                div
                  p.text-muted.text-small Posted 
                    if admission.publishedDate
                      | on 
                      time(datetime=admission.publishedDate)=admission._.publishedDate.format('MMMM Do, YYYY')
                    if admission.author
                      | by #{admission.author.name}
                hr
                != admission.content.full
