doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Tagore Public School Naraina Vihar website, tpsnarainavihar')
    meta(name='title', content='Tagore Public School Naraina Vihar')
    title Tagore Public School, Naraina Vihar
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/table.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    .example5
        nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar5')
                  span.sr-only Toggle navigation
                  |           
                  span.icon-bar
                  |           
                  span.icon-bar
                  |           
                  span.icon-bar
                |         
                a.navbar-brand(href='/')
                  img(src='/images/logo/logo1.jpg', alt='Dispute Bills')
                  p#brandText
                    span
                      | Tagore Public School
                    span.span2
                      | Recognized and Affiliated to CBSE
                    span.span3
                      | D Block, Naraina Vihar , New Delhi - 110028     
          

              #navbar5.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/') HOME
                  li
                    a(href='/about') ABOUT
                  li
                    a(href='/preSchool') PRESCHOOL
                  li
                    a(href='/academic') ACADEMIC
                  li
                    a(href='/gallery1') GALLERY                  
                  li.active
                    a(href='/infrastructure') INFRASTRUCTURE                    
                  li
                    a(href='/notifications1') NOTIFICATIONS                    
                  li
                    a(href='/contact1') CONTACT  

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 Infrastructure
        // /row
      // /container
    // /blue
    //
      *****************************************************************************************************************
      AGENCY ABOUT
      *****************************************************************************************************************
    .container.mtb
      .row
        .col-lg-10.col-lg-offset-1
          h4 School Infrastructure
          p
            | School is a place in which all children grow, not just in size and knowledge, but also in curiosity, courage, confidence, independence, resourcefulness, resilience, patience, competence and understanding.
          p
            | We, at, Tagore Public School, work with the aim of making children not just the successful people but also the good human beings.

          .spacing
          .theTable
            table.bordered
              tr
                td 1
                td Area of School Campus
                td 0.49 Acres/ 2000 sq Mtrs.
              tr
                td 2
                td Built up Area
                td 2107 Sq. Mtrs.
              tr
                td 3
                td Area of Playground
                td 1412 Sq. Mtrs
              tr
                td 4
                td Swimming Pool
                td Yes
              tr
                td 5
                td Indoor Games
                td Yes
              tr
                td 6
                td Dance Room
                td Yes
              tr
                td 7
                td Gymnasium
                td -
              tr
                td 8
                td Music Room
                td Yes
              tr
                td 9
                td Hostel
                td -
              tr
                td 10
                td Health & Medical Check up
                td Done once a year
          
          .spacing    
          .hline
          .spacing    
          h4 School Building
          p
            | The school is located at D-Block, Naraina, with a peaceful environment. The building has been constructed with all the amenities provided in a progressive school.

          p
            | The School is divided into two sections:-
        
          p
            b "Ting-a-Lings"- The Nursery Wing 
            br
            b  The Main Wing consisting of Classes I to XII
          
            
            
          .hline
          .spacing      
          h4 Computer Laboratory

          p
            | The school has a sophisticated fully air conditioned Computer Lab having the latest computers. There is a well qualified and experienced teaching staff to guide the students.
           
          .hline
          .spacing   
          h4 Auditorium

          p
            | To provide the scope to the students for rejuvenation, the school has a spacious auditorium for co-curricular activities, workshops and various competitions.

          .hline
          .spacing
          h4 Library
          
          p
            | The school library comprising of a variety of books including text and reference books on fiction, story books, children's encyclopedia, newspapers and periodicals.

          .spacing
          .theTable
            table.bordered
              tr
                td 1
                td Size of the Library	
                td 35 X 27 Sq. Feet
              tr
                td 2
                td No. of Periodicals
                td 22
              tr
                td 3
                td No. of Dailies	
                td 4
              tr
                td 4
                td No. of Reference books class-wise	
                td 8297
              tr
                td 5
                td No. of Magazine	
                td 23

          .spacing
          .hline
          .spacing   
          h4 Swimming Pool

          p
            | The school also has a learner's swimming pool where the children are given opportunity to learn swimming and also to rejuvenate themselves in the hot weather.

          .hline
          .spacing
          h4 School Hours

          
          p
            | The school hours are as follows - 

          .spacing
          .theTable.theEqualWidthTable
            table.bordered
              thead
                tr
                  th Classes
                  th Summers/Winters            
              tr
                td Nursery
                td 9:00 a.m. to 12:30 p.m.
              tr
                td Prep
                td 7:45 a.m. to 12:45 p.m.
              tr
                td I - III
                td 7:45 a.m. to 1:15 p.m.
              tr
                td III - XII
                td 7:45 a.m. to 1:30 p.m.

          .spacingMore

    
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-8
            div(style='width:600px;max-width:100%;overflow:hidden;height:200px;color:red;')
              #my-map-display(style='height:100%; width:100%;max-width:100%;')
                iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed/v1/place?q=Tagore+Public+School,+Naraina,+New+Delhi,+Delhi,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU')
              style.
                #my-map-display img{max-width:none!important;background:none!important;}            
          .col-lg-4
            h4 Address And Contact Details
            .hline-w
            p
              | Tagore Public School , Naraina Vihar
              br            
              | D Block
              br
              | Naraina Vihar
              br
              | New Delhi - 110028
              br
              | Email : 
              a(href='mailto:ashvinbhatia@tpsnarainavihar.com') ashvinbhatia@tpsnarainavihar.com
              br
              |                       Phone : 
              a(href='tel:25892157') 25892157 ,
              a(href='tel:25894234') 25894234  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
