include ../mixins/notification

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Tagore Public School
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/home') Tagore Public School
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li
              a(href='home') HOME
            li
              a(href='about') ABOUT
            li
              a(href='contact1') CONTACT
            li
              a(href='blog1') BLOG
            li.active
              a(href='notifications1') NOTIFICATIONS
            li
              a(href='admissions') ADMISSIONS

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 Single Notification.
        // /row
      // /container
    // /blue
    //
      *****************************************************************************************************************
      BLOG CONTENT
      *****************************************************************************************************************
    block content
      if !notification
        .jumbotron.text-center
          h2 Invalid notification...
          p.lead Please check the url and try again
      else
        .row
          .col-md-8.col-md-offset-2
            p: a(href='/home').text-muted &larr; back to the home page
            hr
            article
              header
                h1= notification.name
                div
                  != notification.content
                  p.text-muted.text-small Posted 
                    if notification.publishedDate
                      | on 
                      time(datetime=notification.publishedDate)=notification._.publishedDate.format('MMMM Do, YYYY')
                    if notification.author
                      | by #{notification.author}
                hr     
            p: a(href='/notifications1').text-muted view all notifications &rarr;
                
            .spacing    
            .spacing    
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-4
            h4 About
            .hline-w
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .col-lg-4
            h4 Social Links
            .hline-w
            p
              a(href='#')
                i.fa.fa-dribbble
              a(href='#')
                i.fa.fa-facebook
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-instagram
              a(href='#')
                i.fa.fa-tumblr
          .col-lg-4
            h4 Our Bunker
            .hline-w
            p
              | Some Ave, 987,
              br
              | 		 				23890, New York,
              br
              | 		 				United States.
              br
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
