include ../mixins/notification

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Tagore Public School Naraina Vihar website, tpsnarainavihar')
    meta(name='title', content='Tagore Public School Naraina Vihar')
    title Tagore Public School
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Tagore Public School
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li
              a(href='/') HOME
            li
              a(href='/about') ABOUT
            li
              a(href='/contact1') CONTACT
            //- li
            //-   a(href='/blog1') BLOG
            li.active
              a(href='/notifications1') NOTIFICATIONS
            li
              a(href='/admissions1') ADMISSIONS

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 Single Notification.
        // /row
      // /container
    // /blue
    //
      *****************************************************************************************************************
      BLOG CONTENT
      *****************************************************************************************************************
    block content
      if !notification
        .jumbotron.text-center
          h2 Invalid notification...
          p.lead Please check the url and try again
      else
        .row
          .col-md-8.col-md-offset-2
            p: a(href='/').text-muted &larr; back to the home page
            hr
            article
              header
                h1= notification.name
                div
                  != notification.content
                  p.text-muted.text-small Posted 
                    if notification.publishedDate
                      | on 
                      time(datetime=notification.publishedDate)=notification._.publishedDate.format('MMMM Do, YYYY')
                    if notification.author
                      | by #{notification.author}
                hr     
            p: a(href='/notifications1').text-muted view all notifications &rarr;
                
            .spacing    
            .spacing    
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-8
            div(style='width:600px;max-width:100%;overflow:hidden;height:200px;color:red;')
              #my-map-display(style='height:100%; width:100%;max-width:100%;')
                iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed/v1/place?q=Tagore+Public+School,+Naraina,+New+Delhi,+Delhi,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU')
              style.
                #my-map-display img{max-width:none!important;background:none!important;}            
          .col-lg-4
            h4 Address And Contact Details
            .hline-w
            p
              | Tagore Public School , Naraina Vihar
              br            
              | D Block
              br
              | Naraina Vihar
              br
              | New Delhi - 110028
              br
              | Email : 
              a(href='mailto:ashvinbhatia@tpsnarainavihar.com') ashvinbhatia@tpsnarainavihar.com
              br
              |                       Phone : 
              a(href='tel:25892157') 25892157 ,
              a(href='tel:25894234') 25894234  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
