doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta()
    meta(name='title', content='Tagore Public School Naraina Vihar')
    title Tagore Public School
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Tagore Public School 
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li.active
              a(href='/') HOME
            li
              a(href='/about') ABOUT
            li
              a(href='/contact1') CONTACT
            //- li
            //-   a(href='/blog1') BLOG
            li
              a(href='/notifications1') NOTIFICATIONS
            li
              a(href='/admissions1') ADMISSIONS

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 From The Principals Desk

    //
      *****************************************************************************************************************
      AGENCY ABOUT
      *****************************************************************************************************************
    .container.mtb
      .row
        .col-lg-4
          img.img-responsive(src='/images/team/principal.jpg', alt='')
        .col-lg-8
          //- h4 More About Our Agency.
          b ''Purity of an Angel, beauty of a Blossom...
          p
            b A child is a blessing showered upon us from heaven''           
          p
            | It is indeed a matter of great pride and privilege to be bestowed with the noble task of guiding the young minds to realize their true potential.
          p
            | I am proud to be the principal of Tagore Public School, an institution which has always provided us with the innumerable opportunities and platforms to freely extract and exhibit our innate talent. As is said by Rabindranath Tagore "The best function of education is to enable us to realize that, to live as a man is great; requiring profound philosophy for his ideal, Poetry for his expression and heroism for his conduct." I firmly believe that SCHOOL is a place in which all children grow not just in size and knowledge, but also in curiosity, courage, confidence, independence, resourcefulness, resilience, patience, competence and understanding.
          p
            | The child's mind is fresh and untapped but ready to explore, adapt and absorb the greatest lesson of mankind "The Art of Being Himself". He is all set to put forward his share of individuality and knowledge in the ever expanding world.

          p
            | We, at school and through education help them channelize their hyper energies in the right direction, without suppressing their creativity and freedom of expression.

          p
            | For me education is all about facilitating and guiding children to Extract - the latent talent, Educate - with a purpose, Enhance- the life time skills and evolve a harmonious personality over the years. I have learnt in the web of life it is of utmost importance to strive for the best but learn to be happy and contented with what we have.

          p
            | "What is life so full of care if there is no time to stand and stare"

          p
            | I believe in teaching my students and staff to be smart enough to avail all opportunities to progress, but never be unhappy with what we possess. Infact, in our struggle to attain the best, we forget to enjoy the present of what we have.

          p
            | Education is the stepping stone to happiness and peace of mind, which enables us to live a true life. It can be meaningful and rewarding only if the pupils are well equipped to find the answers to their questions and to be able to adjust in all possible situations.

          p
            | Today's generation of students has an unparallel knowledge base, a vibrant dynamism, an acute consciousness of the world around them, and an inevitable desire to excel beyond seam. My aim along with my team of dedicated staff is to enable each pupil to find the best within him/her and to be able to accept and invent all that is lacking and also have the moral virtues, without which a person can never be a real human being.

          p
            | One gentle push & pat from us in the right direction is all that is needed to open up the minds.
          b Mrs. Ritu Bhatia 
          p
            b Principal 



          .spacingMore



    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-8
            div(style='width:600px;max-width:100%;overflow:hidden;height:200px;color:red;')
              #my-map-display(style='height:100%; width:100%;max-width:100%;')
                iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed/v1/place?q=Tagore+Public+School,+Naraina,+New+Delhi,+Delhi,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU')
              style.
                #my-map-display img{max-width:none!important;background:none!important;}            
          .col-lg-4
            h4 Address And Contact Details
            .hline-w
            p
              | Tagore Public School , Naraina Vihar
              br            
              | D Block
              br
              | Naraina Vihar
              br
              | New Delhi - 110028
              br
              | Email : 
              a(href='mailto:ashvinbhatia@tpsnarainavihar.com') ashvinbhatia@tpsnarainavihar.com
              br
              |                       Phone : 
              a(href='tel:25892157') 25892157 ,
              a(href='tel:25894234') 25894234  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
